

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;

} 





/* .App { */
  /* justify-content: center; */
  /* color: white; */
  
  /* background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; */
  /* opacity: 0; */

  
  

.title {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 60px;
}



.content-wrap {
	display: flex;	
	color: #313131;
	font-size: 24px;
	margin-bottom: 16px;
}

.top3 {
  padding-bottom: 15px;
  padding-left: 15px;
}

a {
	display:inline-block;
	padding: 6px  8px;
	text-align:left;

	color: #888;
	font-size: 16px;
	margin-bottom: 16px;

	background-color: #EEE;
	border-radius: 5px;
	text-decoration: none;

	transition: 0.4s;		
	}




 .animeSearch {
    display: flex;
    justify-content:space-evenly;
  } 

.search-box {
      display: flex;
      justify-content: center;
      flex: 1 1 0%;
}
      
input {
  appearance: none;
  background: none;
  outline: none;
  border: none;

  display: block;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 5px;
  background-color: #EEE;

  transition: 0.4s;

  background-color: #313131;
  color: #FFF;
}

.anime-list {
  display: flex;
	flex-wrap: wrap;
  
	margin-top: 32px;
	margin: 32px -8px 0px;
}

.card {
  /* flex: 1 1 33.333%;
  max-width: 33.333%; */
  padding: 16px 8px;
} 

.details-container {
  padding-top: 20px;
}

	

       
          



